@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Baloo Bhaijaan 2", sans-serif;
}

/* Setting variables  */

:root {
  /* Colors  */

  --primary-bg-color: hsl(202, 32%, 15%);
  --white-3: hsl(0, 0%, 87%);
  --pure-white: hsl(0, 0%, 100%);
  --color-orange-100: hsl(33, 92%, 57%);
  --color-red-100: hsl(3, 58%, 51%);
  --color-red-50: hsl(3, 49%, 49%);

  /* Effects    */

  --effect-shadow-1: inset 0 -8px 0 hsla(202, 39%, 15%, 0.39);
  --effet-transition: all 0.3s ease-in-out;
}

body {
  background: url("/assets/images/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-color: red; */
}

/* Making the start content disappear  */
.start.hide {
  display: none;
}

/* Making the game area appear  */
.game-area.show {
  display: inline-block;
  /* justify-content: center;
  align-items: center; */
}

.game-area {
  display: none;
}

/* Styling the logo */
.logo-container {
  /* background-color: red; */
  width: 200px;
  height: 157px;
  overflow: hidden;
  margin-bottom: 8px;
}

#logo {
  height: 100%;
  width: 100%;
}

.welcome {
  /* background-color: var(--color-red-100); */
  text-align: center;
  color: var(--pure-white);
  margin-bottom: 8px;
}

.welcome h1 {
  font-size: 46px;
  font-weight: 900;
}

.welcome p {
  color: var(--white-3);
  font-size: 24px;
}

#instruction {
  color: var(--white-3);
  font-size: 24px;
  margin-bottom: 16px;
}

.space {
  width: 50%;
  height: 47px;
  background-color: var(--color-orange-100);
  border-radius: 18px;
  box-shadow: var(--effect-shadow-1);
  animation: hit 1.5s ease-in infinite; /* Animation for the space keyboard  press */
  /* animation-delay: 1s; */
}

#arrow {
  transform: translateY(15px);
  /* transition: var(--effet-transition); */
  animation: updown 1.5s ease-in-out infinite; /* Animation for the arrow to show the user what to do to start playing */
  z-index: 2;
}

/* Animation */

@keyframes updown {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(20px);
  }
}

@keyframes hit {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.99);
  }
}

body.levelOne {
  background: url("/assets/images/bg-1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  height: 100vh;
  width: 100vw;
}

/* ------------------- Styling the Header (START) ------------------  */

header {
  width: 100%;
  background-color: var(--primary-bg-color);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 32px;
  box-shadow: 0 1px 9px 0 rgb(31, 31, 31, 0.4);
}

.boarding {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 56px;

  /* background-color: var(--color-orange-100); */
}

.hamburger {
  cursor: pointer;
  transition: var(--effet-transition);
}
.hamburger:hover .path {
  fill: hsl(33, 64%, 44%);
  /* color: red; */
}

.board .scores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.scores p {
  color: var(--white-3);
  font-weight: 600;
  font-size: 24px;
}

.scores h2 {
  font-size: 26px;
  font-weight: 700;
}

.board {
  display: flex;
  gap: 32px;
}

.levels .bars {
  display: flex;
  gap: 2px;
}

.levels .bars .level {
  height: 10px;
  width: 5px;
  background-color: var(--pure-white);
  opacity: 0;
}

.levels .bars .level.level1 {
  opacity: 1;
}

.levels {
  display: flex;
  align-items: center;
}

.levels p,
.XP p,
.speed p {
  font-size: 18px;
  font-weight: 600;
}

.XP {
  display: flex;
  align-items: center;
  gap: 8px;
}

.speed {
  display: flex;
  align-items: center;
  gap: 8px;
  align-items: center;
}

.speed div {
  /* background-color: red; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

.speed div #clock {
  width: 100%;
}

.speed div #speeder {
  /* background-color: green; */
  position: absolute;
  /* left: 35%;
  top: 30%; */
  left: 50%;
  top: 50%;
  transition: var(--effet-transition);
  transform: translate(-50%, -50%);
  animation: clock 4s ease infinite;
}

/* @keyframes clock {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(45deg);
  }

  40% {
    transform: rotate(90deg);
  }
  60% {
    transform: rotate(135deg);
  }

  80% {
    transform: rotate(170deg);
  }
  100% {
    transform: rotate(215deg);
  }

  120% {
    transform: rotate(260deg);
  }
} */

/* Buttons  */

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.buttons button {
  color: var(--pure-white);
  font-family: inherit;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  padding: 8px 24px;
  gap: 8px;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  border-radius: 12px;
  transition: var(--effet-transition);
}

.buttons #pause {
  background-color: var(--color-orange-100);
}
.buttons #pause:hover {
  background-color: hsl(33, 64%, 44%);
}
.buttons #pause:focus {
  background-color: hsl(33, 64%, 44%);
  outline: none;
  border: 2px solid hsl(33, 92%, 57%);
  transform: scale(0.97);
}

.buttons #reset:hover {
  background-color: hsla(3, 58%, 51%, 0.829);
}

.buttons #reset:focus {
  border: 2px solid hsl(0, 0%, 100%);
  outline: none;
  transform: scale(0.97);
}

.buttons #reset {
  background-color: var(--color-red-100);
}

/* ------------- END ------------------------- */
